* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ddd;
    background-color: #302f2f;
}

h1 {
    margin-top: 80px;
}


.contactUs {
    margin: 19px;
}
/* .socialPlatformDiv {

} */
/* edit for nav bar */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 2px solid hsl(300, 100%, 25%); */
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(46, 44, 44); /* Purple background */
    color: #FFFFFF;
    padding: 2px 10px;
}
nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
nav ul .navListing {
    list-style: none;
    padding: 8px;
    margin-right: 10px;
}
/* .navListing:hover {
    border: 1px solid hsl(300, 100%, 35%);
} */
nav ul .navListingLink {
    text-decoration: none;
    font-weight: bold;
    color: #f7f7f7;
}
.navListingLink:hover {
    color: rgb(100, 100, 100);
}
.navListingLink:active {
    color: rgb(214, 135, 16);
}
.contactBtn {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.0);
    font-weight: bold;
    border: 1px solid hsl(300, 100%, 35%);
    transition: background-color 1s;
}
.contactBtn:hover {
    background-color: #0f0f0f;
    color: white;
}
.contactBtn a {
    font-weight: bold;
    text-decoration: none;
    color: hsl(300, 100%, 35%);
    font-family: cursive;
}
/* .contactBtn a:hover {
     color: #ddd; 
} */
.contactBtn:active {
    background-color: hsl(300, 100%, 35%);
    /* color: white; */
}

.logo {
    display: inline;
    width: 80px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

#menu {
    display: none;
}
#closeMenu {
    display: none;
    background-color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
#menu {
    margin: auto;
    height: 50px;
    border: 1px solid hsl(300, 100%, 35%);
    background-color: rgba(255, 255, 255, 0.0);
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
    color: hsl(300, 100%, 45%);
}
#menu:hover {
    background-color: #0f0f0f;
    /* color: white; */
}
@media (max-width: 850px) {
    nav ul  {
        display: none;
    }
    #menu {
        display: inline;
    }
}
/* navBar edit stop here */
form {
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
}
input {
    padding: 5px;
    margin: 10px;
}
label {
    font-family: cursive;
}
.submit {
    padding: 10px;
    border: none;
    width: 170px;
    border-radius: 6px;
    background-color: hsl(300, 100%, 35%);
    color: white;
    margin-left: 40px;
}
.submit:hover {
    background-color: rgb(61, 60, 60);
}
textarea {
    padding: 5px;
    margin-top: 10px;
    margin-left: 40px;
}
.socialPlatformDiv {
    text-align: center;
}
.socialPlatformFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* .socialPlatformFlex div {
    margin: auto;
} */
/* . {
    padding: 5px;
    margin: auto;
} */
.socialPlatformFlex img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* this is the footer edit */
footer {
    text-align: center;
    background-color: rgb(46, 44, 44);
    padding: 50px;
    padding-bottom: 20px;
    width: 100%;
}
footer hr {
    margin-bottom: 20px;
}
footer h4 {
    color: hsl(300, 100%, 35%);  
}
footer p {
    font-size: 0.75rem;
    padding: 5px;
    margin-bottom: 5px;
    color: #9e9999;
}
.footerFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 2rem;
    margin-bottom: 30px;
}
.footerFlex li {
    list-style: none;
    padding: 5px;
    color: #ddd;
}
.footerFlex li a {
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}
.footerContactDiv {
    margin-bottom: 30px;
}
.socialIconsDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
    margin-top: 20px;
}
.socialIconsDiv img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.footerContactDiv a {
    text-decoration: none;
    font-weight: bold;
    color: #e0400f;
}
.footerContactDiv p {
    color: #FFFFFF;
    font-weight: bolder;
}
/* footer edit stops here */

form {
    background-color: #302f2f;
    border-radius: 10px;
}